/*colors:
#2f1b27
#513533
#b4442a
#dcc4a2
*/

body {
    background: url("image.jpg") #2f1b27CC;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    width: 100%;
    height: 100vh;
    font-family: sans-serif, Arial;
    font-size: 18px;
    color: #dcc4a2;
  }
  
  h1, p {
    margin: 2em auto;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
  }
  
  .form {
    background-color: #513533CC;
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 0.5em 2em 0.5em;
  }
  
  fieldset {
    border: none;
    margin: auto auto 0.5rem auto;
  }
  
  label {
    display: block;
    margin: 0.5rem 0 1rem 0;
  }
  
  .stretch {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2.5em;
    background-color: #dcc4a2;
    border: none;
    color: #513533;
  }
  
  input[type="number"] {
    margin: 1em auto;
    padding: 2px 1px;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #b4442a;
    color: #dcc4a2;
    border-color: #2f1b27;
    min-width: 200px;
  }
  
  textarea {
    resize: vertical;
    max-height: 200px;
  }